---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import CartDrawerContainer from "../layouts/CartDrawerContainer.astro";
import WelcomeArea from "../sections/WelcomeArea.astro";
import StoreArea from "../sections/StoreArea.astro";
---

<Layout>
    <CartDrawerContainer>
        <section class="w-full h-screen">
            <WelcomeArea />
        </section>
        <StoreArea />
    </CartDrawerContainer>
</Layout>
