---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import CartDrawerContainer from "../layouts/CartDrawerContainer.astro";
import Welcome from "../components/Welcome.astro";
import Store from "../components/Store.astro";
---

<Layout>
    <CartDrawerContainer>
        <section class="w-full h-screen">
            <Welcome />
        </section>
        <Store />
    </CartDrawerContainer>
</Layout>
