---

---
<div class="container flex flex-col justify-center items-center min-h-screen">
    <div id="about-container" class="container py-10 md:py-0 flex flex-col items-center justify-center">
        <h1 class="lg:text-4xl md:text-2xl sm:text-xl text-white drop-shadow-[3px_3px_0px_#C8102E] text-center mb-8 md:mb-10">ABOUT</h1>
        <div class="w-full flex flex-col justify-center gap-8 md:gap-10">
            <div class="flex flex-col md:flex-row gap-6 md:gap-10 items-center">
                <video class="w-full md:w-1/2 lg:w-2/5 aspect-video outline-4 md:outline-8 outline-white rotate-2 object-cover shrink-0" src="/videos/1000003161.mp4" autoplay loop muted playsinline></video>
                <p class="text-sm sm:text-base md:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar tellus vel sapien vestibulum, eget pretium libero porta. Phasellus consectetur molestie tempus. Vestibulum quis hendrerit massa. Ut purus magna, auctor ut aliquet eu, iaculis in libero. In accumsan iaculis ante, et pellentesque metus iaculis quis. </p>
            </div>
            <div class="flex flex-col-reverse md:flex-row gap-6 md:gap-10 items-center">
                <p class="text-sm sm:text-base md:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar tellus vel sapien vestibulum, eget pretium libero porta. Phasellus consectetur molestie tempus. Vestibulum quis hendrerit massa. Ut purus magna, auctor ut aliquet eu, iaculis in libero. In accumsan iaculis ante, et pellentesque metus iaculis quis. </p>
                <video class="w-full md:w-1/2 lg:w-2/5 aspect-video outline-4 md:outline-8 outline-white -rotate-2 object-cover shrink-0" src="/videos/1000003225.mp4" autoplay loop muted playsinline></video>
            </div>
        </div>
    </div>
</div>
